.App {
  text-align: center;
}
.content1{
  color: #56ec29;;
  overflow: hidden;
  max-height: 0;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.content1.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.banner_slide{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.slider_image{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}
#slideImg{
  width: 100%;
  height: 100%;
  animation: zoom 3s linear infinite;
}
@keyframes zoom {
  0%{
    transform: scale(1.3);
  }
  15%{
    transform: scale(1);
  }
  85%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.3);
  }
}
#slideImg1{
  width: 18rem;
  height: 18rem;
  animation: zoom1 3s linear infinite;
}
@keyframes zoom1 {
  0%{
    transform: scale(1.3);
  }
  15%{
    transform: scale(1);
  }
  85%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.3);
  }
}
.overlay{
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
  position: absolute;
  top: 0;
}
.content_slide{
  width: 60%;
  margin: 160px auto 0;
  text-align: center;
  color: #fff;
}

.slide_button{
  position: absolute;
  margin-top: 100px;
  right: 250px;
  width: 200px;
  padding: 15px 0;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  background:#4aa96c;
  color: #fff;
  cursor: pointer;
}

@media (max-width:768px) {
  .slider_image{
    height: 100vh;
  }
  .banner_slide{
    height: 100vh;
  }
  .content_slide{
    width: 100%;
    margin: 20px 0 auto;
    text-align: center;
  }
  .slide_button{
    margin-top: 30px;
    right:15px;
    width: 200px;
  }
}
@media (max-width:1024px) {
  .slider_image{
    height: 50vh;
  }
  .banner_slide{
    height: 50vh;
  }
  .content_slide{
    width: 100%;
    margin: 60px 0 auto;
    text-align: center;
  }
  .slide_button{
    margin-top: 30px;
    right:15px;
    width: 200px;
  }
}

.fieldSet1{
  margin: 20px;
  padding: 0px 20px 0px 20px;
  border-radius: 5px;
  border-width: 1px;
  align-items: center;
  border-color: #000;
}
.legegend1{
  position: absolute;
  top: 10;
  left: 10;
  font-weight: bold;
  background-color: #fff;
}

/* .fieldSet1{
  margin: 10,
  paddingHorizontal: 10;
  paddingBottom: 10;
  borderRadius: 5;
  borderWidth: 1;
  alignItems: 'center';
  borderColor: '#000';
}

.legend1{
  position: 'absolute',
  mar
  top: ,
  left: 10,
  fontWeight: 'bold',
  backgroundColor: '#FFFFFF'
} */



